# compilation and distribution
__pycache__
*.pyc
*.egg-info/

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

/octo/
/datasets/
/Maniskill/mp_collect/
/openvla/checkpoints/
/openvla/wandb/
/SimpleEnv/octo_collect/
/SimpleEnv/wandb/

.maniskill/
mp_collect/

openvla/dlimp_openvla/

openvla/

wandb/


/nvme_data/tonghe/RL4VLA/SimplerEnv/octo_collect/


.mp4
.npz
.pt


ManiSkill/mp_collect
